html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:#888;
}

#volumeslider {
  width: 104px;
}

button {
  overflow: hidden;
}

#browseBreadcrumb {
  overflow: auto;
  white-space: nowrap;
}

#browseBreadcrumb > li > a {
  cursor: pointer;
}

#counter {
  font-size: 24px;
  margin-top: -2px;
  margin-left: 10px;
  min-width: 50px;
}

#search {
  width: 200px;
}

.card {
  min-height:300px;
}

h1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 576px) {
/*  .tbllength, .tblnum, .tblalbum {
    visibility:collapse;
  }
  .tbltitle, .tblartist {
   min-width:calc(50% - 15px);
  }
*/
  .header-logo {
    display:none !important;
  }
}

tbody {
  cursor: pointer;
}

.tblnum, .tblaction {
  width: 30px;
}

#album-cover {
  background-size:cover;
  border:1px solid black;
  border-radius:5px;
  overflow:hidden;
  margin-bottom:20px;
  width:240px;
  height:240px;
  background-color:#eee;
}

.hide {
 display: none !important;
}

.pull-right {
 float: right !important;
}

#queue-buttons, #browsePlaylistsButtons, #searchButtons, #browseFilesystemButtons, #browseDatabaseButtons {
 margin-bottom:20px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display:inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

main {
 padding-top:20px;
}

.color-darkgrey {
 color:#6c757d;
}

.color-darkgrey:hover {
 color:#6c757d !important;
}

#filter-toolbar {
 margin-bottom:10px;
}

#btn-outputs-block > button {
 margin-bottom:10px;
}
#btn-outputs-block > button:last-child {
 margin-bottom:0px;
}

.card-body {
 overflow-x:hidden;
}

.slider-selection {
 background:#28a745 !important;
}

#progressbar .slider-track {
 height: 20px !important;
}

#progressbar {
 width:100%;
}

#volumebar {
 width:160px;
}

.slider-handle {
 visibility:hidden !important;
}

[data-notify="title"] {
 font-size:120%; 
}

.header-logo {
 font-size:2rem;
 float:left;
 margin-right:5px;
}

#browseFilesystemGotoLetters > a {
 min-width:23px;
}