body.theme-dark .card, body.theme-dark .modal-content, body.theme-dark .modal-header {
  background-color: #343A40;
  color: #f8f9fa;
}

body.theme-dark .btn {
  background-color: #343A40;
  color: #f8f9fa;
}

body.theme-dark .btn-light {
  border-color: #343a40;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: #6C757D;
  border-color: #6C757D;
  color: #f8f9fa;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: none;
}

.show {
  box-shadow: none;
}

body.theme-dark .btn-success {
  background-color: #28A745;
}

body.theme-dark .btn-danger {
  background-color: #DC3545;
}

body.theme-dark .btn-secondary {
  background-color: #6C757D;
  border-color: #6C757D;
}

body.theme-dark .form-control {
  background-color: #343A40;
  border-color: #6C757D;
  color: #f8f9fa;
}

body.theme-dark .form-control:focus {
  background-color: #32383E;
  color: #f8f9fa;
}

body.theme-dark .card-header, body.theme-dark .modal-header {
  border-color: #1d2124;
}

body.theme-dark .card-footer, body.theme-dark .modal-footer {
  border-color: #1d2124;
}

body.theme-dark .nav-link.active {
  background-color: #1d2124 !important;
  border-color: #1d2124 !important;
}

body.theme-dark .nav-link {
  color: #f8f9fa !important;
}

body.theme-dark .text-dark:hover {
  color: #f8f9fa !important;
}

body.theme-dark .nav-link:hover {
  border-color: #1d2124 !important;
}

body.theme-dark .table {
  color: #f8f9fa;
}

body.theme-dark tr:hover {
  color: #f8f9fa;
}

body.theme-dark tr.selected {
  background-color: #1d2124;
}

body.theme-dark .breadcrumb {
  background-color: #6C757D;
  color: #f8f9fa;
}

body.theme-dark .breadcrumb-item.active {
  color: #f8f9fa;
}

body.theme-dark .breadcrumb-item::before {
  color: #f8f9fa;
}

body.theme-dark .popover {
  background-color: #32383E;
  color: #f8f9fa;
}

body.theme-dark .dropdown-menu {
  background-color: #32383E;
  color: #f8f9fa;
}

body.theme-dark .dropdown-item {
  color: #f8f9fa;
}

body.theme-dark .dropdown-item:hover {
  background-color: #1d2124;
}

body.theme-dark .dropdown-item:focus {
  background-color: #1d2124;
}

body.theme-dark .arrow::after {
  border-top-color: #1d2124 !important;
}

body.theme-dark .custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23f8f9fa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

body.theme-dark .close {
  color: white;
  text-shadow: 0 1px 0 #000;
}

body.theme-dark div.key {
  background-color: #6C757D;
}

body.theme-dark #BrowseDatabaseAlbumList > .card {
  border-color: #1d2124;
}

body.theme-dark #BrowseDatabaseAlbumList .card-header {
  background-color: #2f353a;
}

body.theme-dark #BrowseDatabaseAlbumList .card-footer {
  background-color: #2f353a;
}

body.theme-dark caption {
  color: #f8f9fa;
}

body.theme-dark .text-secondary {
  color: #f8f9fa !important;
}

.bg-white {
  background-color: #2f353a !important;
}