body.theme-light .navbar-dark .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

body.theme-light .navbar-dark .navbar-brand:hover,
body.theme-light .navbar-dark .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

body.theme-light .navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

body.theme-light .navbar-dark .navbar-nav .nav-link:hover,
body.theme-light .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

body.theme-light .navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

body.theme-light .navbar-dark .navbar-nav .show > .nav-link,
body.theme-light .navbar-dark .navbar-nav .active > .nav-link,
body.theme-light .navbar-dark .navbar-nav .nav-link.show,
body.theme-light .navbar-dark .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

body.theme-light .navbar-dark .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

body.theme-light .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body.theme-light .navbar-dark .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

body.theme-light .navbar-dark .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

body.theme-light .navbar-dark .navbar-text a:hover,
body.theme-light .navbar-dark .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

body.theme-light .bg-dark {
  background-color: #f8f9fa !important;
}

body.theme-light a.bg-dark:hover,
body.theme-light a.bg-dark:focus,
body.theme-light button.bg-dark:hover,
body.theme-light button.bg-dark:focus {
  background-color: #dae0e5 !important;
}

body.theme-light .text-light {
  color: #343a40 !important;
}

body.theme-light a.text-light:hover,
body.theme-light a.text-light:focus {
  color: #121416 !important;
}

body.theme-light .btn-secondary {
  color: #212529;
  background-color: #CED4DA;
  border-color: #CED4DA;
}

body.theme-light .border-secondary {
  border-color: #CED4DA !important;
}

body.theme-light .btn-secondary:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

body.theme-light .btn-secondary:focus,
body.theme-light .btn-secondary.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: none;
}

body.theme-light .btn-secondary.disabled,
body.theme-light .btn-secondary:disabled {
  color: #212529;
  background-color: #CED4DA;
  border-color: #CED4DA;
}

body.theme-light .btn-secondary:not(:disabled):not(.disabled):active, 
body.theme-light .btn-secondary:not(:disabled):not(.disabled).active,
body.theme-light .show > .btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

body.theme-light .btn-secondary:not(:disabled):not(.disabled):active:focus,
body.theme-light .btn-secondary:not(:disabled):not(.disabled).active:focus,
body.theme-light .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

body.theme-light .badge-secondary {
  color: #212529;
  background-color: #CED4DA;
}

body.theme-light a.badge-secondary:hover,
body.theme-light a.badge-secondary:focus {
  color: #212529;
  background-color: #CED4DA;
}

body.theme-light a.badge-secondary:focus,
body.theme-light a.badge-secondary.focus {
  outline: 0;
  box-shadow: none;
}

body.theme-light .input-group-append > .dropdown-toggle {
  border-color: #6c757d !important;
  border-left-color: #CED4DA !important;
}

body.theme-light .dropdown-item:hover, 
body.theme-light .dropdown-item:focus {
  background-color: transparent !important;
}

body.theme-light .bg-lite-dark {
  background-color: #f8f9fa !important;
}
