#!/usr/bin/make -f
export DH_VERBOSE = 1

BUILDDIR = release

build-arch: build

build-indep: build

build:
	./build.sh createassets
	cd $(BUILDDIR); cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE=RELEASE -DSTRIP_BINARY=OFF ..
	make -C $(BUILDDIR)

binary: binary-indep binary-arch

binary-indep:

binary-arch:
	cd $(BUILDDIR); make install DESTDIR=../debian/mympd
	mkdir -p debian/mympd/DEBIAN
	cp debian/postinst debian/mympd/DEBIAN
	cp debian/postrm debian/mympd/DEBIAN
	echo 10 > debian/compat
	dh_makeshlibs
	dh_shlibdeps
	dh_strip
	dh_gencontrol
	dh_builddeb

clean:
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
