[Unit]
Description=myMPD server daemon
Requires=network.target local-fs.target mpd.service

[Service]
ExecStart=/usr/bin/mympd /etc/mympd/mympd.conf
Type=simple

[Install]
WantedBy=multi-user.target
