#myMPD config file

#Loglevel
#0 = quiet
#1 = default
#2 = verbose
#3 = debug
loglevel = 1

#Connection to mpd
mpdhost = 127.0.0.1
mpdport = 6600
#mpdpass = 

#Webserver options
webport = 80

#Enable ssl
ssl = true
sslport = 443
sslcert = /etc/mympd/ssl/server.pem
sslkey = /etc/mympd/ssl/server.key

#myMPD user
user = mympd

#Enable local player, needs streamport or streamurl setting
localplayer = true

#Port for mpd http stream
streamport = 8000

#Manual streamurl, overwrites streamport
#streamurl = http://mpdhost:8000

#Enable coverimages
coverimage = true

#Name for coverimages
coverimagename = folder.jpg

#Size for coverimage in px
coverimagesize = 240

#myMPD state directory
varlibdir = /var/lib/mympd

#Enable mixramp settings
mixramp = false

#Enable usage of mpd stickers for play statistics and voting
stickers = true

#List of tags in myMPD gui
taglist = Artist,Album,AlbumArtist,Title,Track,Genre,Date,Composer,Performer
searchtaglist = Artist,Album,AlbumArtist,Title,Genre,Composer,Performer
browsetaglist = Artist,Album,AlbumArtist,Genre,Composer,Performer

#Enable smart playlists
smartpls = true

#Enable system commands in /etc/mympd/syscmds/
syscmds = false

#Elements per page for pagination, max: 400
max_elements_per_page = 100

#Number of songs to keep in last played list
last_played_count = 20
