#myMPD config file

[mpd]
#Connection to mpd
host = /var/run/mpd/socket
#port = 6600
#pass = 

#Port for mpd http stream
streamport = 8000

#absolut path of music_directory of mpd
#none = no local music_directory
#auto = get music_directory from mpd (only support, if connected to mpd socket)
#fallback: /var/lib/mpd/music
musicdirectory = auto

[webserver]
#Webserver options
webport = 80

#Enable ssl
ssl = true
sslport = 443
sslcert = /etc/mympd/ssl/server.pem
sslkey = /etc/mympd/ssl/server.key


[mympd]
#Loglevel
#0 = quiet
#1 = default
#2 = verbose
#3 = debug
loglevel = 1

#myMPD user
user = mympd

#Enable local player, needs streamport or streamurl setting
localplayer = true

#Manual streamurl, overwrites streamport
#streamurl = http://mpdhost:8000

#Enable coverimages
#Needs configured musicdirectory 
coverimage = true

#Name for coverimages
coverimagename = folder.jpg

#Size for coverimage in px
coverimagesize = 240

#myMPD state directory
varlibdir = /var/lib/mympd

#Enable mixramp settings
mixramp = false

#Enable usage of mpd stickers for play statistics and voting
stickers = true

#List of tags in myMPD gui
taglist = Artist,Album,AlbumArtist,Title,Track,Genre,Date,Composer,Performer
searchtaglist = Artist,Album,AlbumArtist,Title,Genre,Composer,Performer
browsetaglist = Artist,Album,AlbumArtist,Genre,Composer,Performer

#Enable smart playlists
smartpls = true

#Enable system commands in /etc/mympd/syscmds/
syscmds = false

#Elements per page for pagination, max: 400
pagination = 100

#Number of songs to keep in last played list
lastplayedcount = 20

#Love message for scrobbling
love = false
lovechannel = mpdscribble
lovemessage = love


[theme]
backgroundcolor = #888


[plugins]
coverextract = false
coverextractlib = /usr/share/mympd/lib/mympd_coverextract.so
