[Unit]
Description=myMPD server daemon
Requires=network.target local-fs.target mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/mympd
Type=simple

[Install]
WantedBy=multi-user.target
