Checks: '*,
         -altera-*,
         -android-cloexec-open,
         -bugprone-assignment-in-if-condition,
         -bugprone-easily-swappable-parameters,
         -bugprone-switch-missing-default-case,
         -clang-analyzer-optin.core.EnumCastOutOfRange,
         -clang-analyzer-optin.performance.Padding,
         -clang-diagnostic-invalid-command-line-argument,
         -concurrency-mt-unsafe,
         -cppcoreguidelines*,
         -google-readability-casting,
         -google-readability-function-size,
         -google-readability-todo,
         -hicpp-*,
         -llvmlibc-restrict-system-libc-headers,
         -misc-include-cleaner,
         -readability-avoid-nested-conditional-operator,
         -readability-function-cognitive-complexity,
         -readability-function-size,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-non-const-parameter,
         -readability-redundant-casting,
        '
WarningsAsErrors:  ''
HeaderFilterRegex: ''
FormatStyle:       none
CheckOptions:
  bugprone-reserved-identifier.AllowedIdentifiers: _XOPEN_SOURCE;__asan_default_options
  cert-dcl37-c.AllowedIdentifiers: _XOPEN_SOURCE;__asan_default_options
  cert-dcl51-cpp.AllowedIdentifiers: _XOPEN_SOURCE;__asan_default_options
