#temporary files
*~
.cache/
/callgrind.out.*
/clang-tidy.out
/src/compile_commands.json
/test/compile_commands.json
/valgrind.out

#npm
/node_modules
/package.json
/package-lock.json

#build dirs
/build/
/builder/
/debug/
/dist/bootstrap/node_modules/
/dist/bootstrap/package-lock.json
/osc/
/package/
/release/

#debug build files
/htdocs/assets/ligatures.json
/htdocs/assets/MaterialIcons-Regular.woff2
/htdocs/assets/i18n/
/htdocs/css/bootstrap.css
/htdocs/js/defines.js
/htdocs/js/bootstrap-native.js
/htdocs/js/defines.js
/htdocs/js/i18n.js
/htdocs/js/long-press-event.js
/htdocs/sw.js

#documentation
/docs/doxygen/
/docs/jsdoc/
/docs/assets/apidoc.js
/docs/scripting/scripts/index.json
/docs/luadoc/
_site/

#private files
/.vscode/
.secrets
