*~
/debug/
/release/
/osc/
/package/
/htdocs/css/bootstrap.css
/htdocs/js/bootstrap-native.js
/htdocs/js/long-press-event.js
/htdocs/js/i18n.js
/valgrind.out
/src/compile_commands.json
/clang-tidy.out
/test/build/
/builder/
.vscode/
/dist/htdocs/assets/
/dist/htdocs/css/combined.css.gz
/dist/htdocs/css/mympd.min.css
/dist/htdocs/css/theme-dark.min.css
/dist/htdocs/css/theme-light.min.css
/dist/htdocs/index.html
/dist/htdocs/index.html.gz
/dist/htdocs/js/combined.js.gz
/dist/htdocs/js/i18n.min.js
/dist/htdocs/js/keymap.min.js
/dist/htdocs/js/mympd.js
/dist/htdocs/js/mympd.min.js
/dist/htdocs/mympd.webmanifest.gz
/dist/htdocs/sw.js.gz
/dist/htdocs/sw.min.js
