*~
/debug/
/release/
/osc/
/package/
/htdocs/css/bootstrap.css
/htdocs/js/bootstrap-native.js
/htdocs/js/long-press-event.js
/htdocs/js/i18n.js
/htdocs/assets/MaterialIcons-Regular.woff2
/htdocs/assets/ligatures.json
/valgrind.out
/callgrind.out.*
/src/compile_commands.json
/clang-tidy.out
/test/build/
/builder/
/.vscode/
/dist/bootstrap/node_modules/
/dist/bootstrap/package-lock.json
/docs/doxygen/
