# Consult documentation at https://jcorporation.github.io/myMPD/020-configuration/
config mympd main
    # CAUTION: there can be a lot of writes to workdir directory
    # and if it's on raw flash, this can kill it very fast.
    option workdir '/var/lib/mympd'
    option mpd_host 'localhost'
    option mpd_port '6600'
    option acl ''
    option http_host '0.0.0.0'
    option http_port '80'
    option loglevel '5'

    # Requires enabled MYMPD_LUA at compilation time
    option lualibs 'all'
    option scriptacl '+127.0.0.1'

    # Requires enabled MYMPD_SSL at compilation time
    option ssl 'false'
    option ssl_port '443'
    option ssl_san ''
    option custom_cert 'false'
    option ssl_cert ''
    option ssl_key ''
