:root {
    --md-primary-fg-color:        #28a745;
    --md-primary-fg-color--light: #28a745;
    --md-primary-fg-color--dark:  #28a745;
    --md-accent-fg-color: #28a745;
    --md-accent-fg-color--transparent: #28a745;
}
