---
---

@import "assets/bootstrap.min.css";

body {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

div.highlight {
  background-color: #f8f9fa;
  padding: 0.5rem;
}

main a, 
main a:active, 
main a:hover, 
main a:visited {
  color: #28a745;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}
