name: release
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: installdeps
      run: sudo ./build.sh installdeps
    - name: build
      run: ./build.sh release
    - name: install
      run: sudo ./build.sh install
